@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label>Email</label>
        <input name="email" type="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Passwort</label>
        <input name="password" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Login</button>
    <a asp-action="Register" class="btn btn-link">Hast du noch keinen Account?</a>
</form>