@model Genre
@{
	ViewData["Title"] = "CreateOrEditGenres";
}
<h1>CreateOrEditGenres</h1>
<form asp-action="CreateOrEditGenres" method="post">
	<div class="form-group">
		<label asp-for="GenreName" class="control-label" ></label>
		<input asp-for="GenreName" class="form-control" />
		<span asp-validation-for="GenreName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary" />
	</div>
</form>